@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main class="main-container">
        <article class="content px-4">
            @Body
        </article>
        <div class="footer">Developed by Chandraganesh</div>
    </main>

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    .main-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .content {
        flex: 1;
    }

    .footer {
        text-align: center;
        padding: 12px;
        border-top: 1px solid #ddd;
    }
</style>