@page "/orderstatus"

<h3>Order Status</h3>

<div class="order-status-container">
    <label class="form-label">Enter the Order number</label>
    <input type="text" class="form-control" placeholder="Order Number" />
</div>

<style>
    .order-status-container {
        max-width: 400px;
        margin: 100px auto;
    }
</style>