@page "/simtype"

<h3>Select SIM Type</h3>

<div class="sim-type-container">
    <button class="btn btn-outline-primary btn-lg">SIM only</button>
    <button class="btn btn-outline-success btn-lg">SIM and Basic Plan</button>
    <button class="btn btn-outline-warning btn-lg">SIM and Custom Plan</button>
</div>

<style>
    .sim-type-container {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
</style>


@code {

}